In [10]:
#TASK-3 INBUILT FUNCTIONS
#1)REMOVE inbuilt function
#it removes the particular integer,string,bolleas....
list = [1,2,3,"python"]

In [11]:
#ex1
list

[1, 2, 3, 'python']

In [12]:
list.remove('python')

In [33]:
list

[1, 2, 3]

In [34]:
#ex2
list.remove(2)

In [35]:
list

[1, 3]

In [36]:
#2)CLEAR
#it clears al the data inside list like integers,strings booleans...
#ex1
list1 = [100,200,500,800]

In [37]:
list1

[100, 200, 500, 800]

In [38]:
list1.clear()

In [39]:
list1

[]

In [40]:
#ex2
list2 = [100,300,500,"python","True"]

In [41]:
list2

[100, 300, 500, 'python', 'True']

In [42]:
list2.clear()

In [43]:
list2

[]

In [53]:
#3) COUNT in built function
# it count how many times the integers,floating points,strings are there in given data/input
list3 = [10,20,30,10,35]

In [54]:
list3.count(10)

2

In [55]:
list4 = [10,20,"python","program"]

In [56]:
list4

[10, 20, 'python', 'program']

In [57]:
list4.count("python")

1

In [59]:
#4)SORT inbuilt function
#this function sort the the given input in ascending order
list5 = [2,1,555,18,13,16]

In [60]:
list5.sort()

In [61]:
list5

[1, 2, 13, 16, 18, 555]

In [77]:
list6 = [1.2,3.5,0.8,6.6,777.8,22.5,]

In [78]:
list6.sort()

In [64]:
list6

[0.8, 1.2, 3.5, 6.6, 22.5, 777.8]

In [65]:
#5)REVERSE inbuilt function
#it reverses all the data from right side to left side
list7 = [1,45,66,23,98,54]

In [66]:
list7.reverse()

In [67]:
list7

[54, 98, 23, 66, 45, 1]

In [71]:
list8 = [1.4,44,5,66.2,77,23,14.5,"python"]

In [72]:
list8.reverse()

In [73]:
list8

['python', 14.5, 23, 77, 66.2, 5, 44, 1.4]

In [79]:
#TASK 4
#1
# input
#[10,20,[30,40,[50,60],80],90,100]
#output
#[10,20,[30,40,[50,60,70],80],90,100]
list9 = [10,20,[30,40,[50,60],80],90,100]

In [80]:
list9[2][2].insert(2,70)

In [81]:
list9

[10, 20, [30, 40, [50, 60, 70], 80], 90, 100]

In [89]:
#2
#input = [1,2,[3,4,5,6],9]
#output = 1,2[3,4,5,6[7,8]],9]
list10 = [1,2,[3,4,5,6],9]
list10[2].insert(4,[7,8])

In [90]:
list10

[1, 2, [3, 4, 5, 6, [7, 8]], 9]