In [2]:
dict1 = { 
   "april_batch":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "python":80,
            "maths":70
         }
      }
   }
}

In [3]:
dict1

{'april_batch': {'student': {'name': 'Mike',
   'marks': {'python': 80, 'maths': 70}}}}

In [4]:
dict1["april_batch"]["student"]["name"] = "manjunath"

In [5]:
dict1

{'april_batch': {'student': {'name': 'manjunath',
   'marks': {'python': 80, 'maths': 70}}}}

In [6]:
dict1["april_batch"]["student"]["marks"]["ml"] = 80

In [7]:
dict1

{'april_batch': {'student': {'name': 'manjunath',
   'marks': {'python': 80, 'maths': 70, 'ml': 80}}}}

In [8]:
dict1["april_batch"]["student"]["marks"]["dl"] = 80

In [9]:
dict1

{'april_batch': {'student': {'name': 'manjunath',
   'marks': {'python': 80, 'maths': 70, 'ml': 80, 'dl': 80}}}}