In [5]:
#task 10 
#printing numbers from 10 to 1 using while loop
count = 10
while(count>=1):
    print(count)
    count = count - 1

10
9
8
7
6
5
4
3
2
1

In [2]:
# looping over  dictionaries,tuples,sets
#looping over dictionaries
dict1 = {
    "Brand":"Bajaj",
    "model":"Pulsar",
    "year":2015,
    "cost":85000
}
for item in dict1:
    print(item)

Brand
model
year
cost

In [6]:
child1 = {
    "name" :"john",
    "year" : "1995"
}
child2 = {
    "name" : "sammy",
    "year" : "2001"
}
myfamily = {
    "child1" : child1,
    "child2" : child2
}
myfamily
#items = list(myfamily.items())
#items

{'child1': {'name': 'john', 'year': '1995'},
 'child2': {'name': 'sammy', 'year': '2001'}}

In [5]:
#looping over tuples
tup1 =(1,2,3,4.4,5.8,True,False,"maths","python")
for item in tup1:
    print(item)

1
2
3
4.4
5.8
True
False
maths
python

In [28]:
tup2 = (1,2,3,4)
tup3 = ("python","tuples","items","using","forloop")
tup4 = tup2+tup3
tup4
for item in tup4:
    print(item)

1
2
3
4
python
tuples
items
using
forloop

In [2]:
#looping over sets
set1 = {1,2,3,4,1,1,4,3,"True","python"}
for item in set1:
    print(item)

1
2
3
4
True
python